<h2>Update Account Information</h2>

<% if (locals.errors) { %>
  <ul class="error">
  <% locals.errors.forEach(error => { %>
    <li><%= error.msg %></li>
  <% }) %>
  </ul>
<% } %>

<% if (typeof message !== 'undefined' && message) { %>
  <p class="notice"><%= message %></p>
<% } %>

<h3>Update Account Details</h3>
<form action="/account/update" method="post">
  <label for="account_firstname">First Name:</label>
  <input type="text" id="account_firstname" name="account_firstname" value="<%= locals.account_firstname || (locals.accountData ? locals.accountData.account_firstname : '') %>" required>
  
  <label for="account_lastname">Last Name:</label>
  <input type="text" id="account_lastname" name="account_lastname" value="<%= locals.account_lastname || (locals.accountData ? locals.accountData.account_lastname : '') %>" required>
  
  <label for="account_email">Email:</label>
  <input type="email" id="account_email" name="account_email" value="<%= locals.account_email || (locals.accountData ? locals.accountData.account_email : '') %>" required>
  
  <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
  
  <button type="submit">Update Account</button>
</form>

<h3>Change Password</h3>
<p class="info">Passwords must be at least 12 characters and include at least 1 uppercase letter, 1 number, and 1 special character.</p>

<form action="/account/update-password" method="post">
  <label for="account_password">New Password:</label>
  <input type="password" id="account_password" name="account_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$" required>
  
  <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
  
  <button type="submit">Change Password</button>
</form>
