
<!doctype html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="site-body">
    <div class="frame">
      <%- include('../partials/header') %>
      <%- include('../partials/nav') %>
      <main>
        <%- body %>
      </main>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
